<h1 class="mt20">Questions of {{ qTitle }}</h1>

<div class="bootstrap-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="container text-center">
        <button
          mat-raised-button
          color="accent"
          (click)="addQuestion()"
        >
          Add Question
        </button>
      </div>

      <div *ngFor="let q of questions; let i = index" class="mt20">
        <p>
          <b>Q {{ i + 1 }})</b>
          <span class="ml20">{{ q.content }}</span>
        </p>

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <p>1) {{ q.option1 }}</p>
            </div>
            <div class="col-md-6">
              <p>2) {{ q.option2 }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>3) {{ q.option3 }}</p>
            </div>
            <div class="col-md-6">
              <p>4) {{ q.option4 }}</p>
            </div>
          </div>
          <p class="mt20"><b>Correct Answer:</b> {{ q.correctAnswer }}</p>
        </div>

        <div class="text-center mt20">
          <button mat-raised-button color="warn" (click)="deleteQuestion(q.id)">
            Delete
          </button>
          <button mat-raised-button color="primary" (click)="updateQuestion(q.id)">
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
