<!-- <mat-card> -->
    <!-- <mat-action-list> -->
      <div mat-subheader>Available Categories</div>
  
      <button mat-list-item routerLink="/user-dashboard/0">
        <!-- <mat-icon mat-list-icon>quiz</mat-icon> All Quizzes -->
        All Quizzes
      </button>
      <button
       
       
      >
      <p>quiz</p>
        <!-- <mat-icon mat-list-icon>quiz</mat-icon> {{ c.title }} -->
      </button>
    <!-- </mat-action-list> -->
  <!-- </mat-card> -->
  <!-- {{ categories | json }} -->
  
