<div class="admin-panel">
    <aside class="sidebar">
          <!-- <div mat-subheader>Menu</div>
    <button mat-list-item routerLink="/admin">Home</button>
    <button mat-list-item routerLink="/admin/profile">Profile</button>
    <button mat-list-item routerLink="/admin/categories">Categories</button>
    <button mat-list-item routerLink="/admin/add-category">Add Categories</button>
    <button mat-list-item routerLink="/admin/quizzes">Quizzes</button>
    <button mat-list-item routerLink="/admin/add-quiz">Add Quiz</button>
    <button mat-list-item routerLink="/admin/logout">Logout</button> -->
      <h2>Admin Menu</h2>
      <ul>
        <li><a href="admin/teacher">Add Teacher</a></li>
        <li><a href="#">Add Test</a></li>
        <li><a href="admin/add-quiz">Add Quiz</a></li>
        <li><a href="admin/add-category">Add Category</a></li>
        <li><a href="admin/view-quizzes">View-Quizzes</a></li>
        <li><a href="#">View Students</a></li>
        <li><a href="admin/teacher">View Teachers</a></li>
      </ul>
    </aside>
    <main class="main-content">
      <h1 class="title">Welcome to the Admin Panel</h1>
      <!-- <p>This admin panel has lots of functionalities.</p> -->
      <div class="functionalities" >
        <div class="functionality-card">
          <h3>Add Teacher</h3>
          <p>Easily add new teachers to the system.</p>
        </div>
        <div class="functionality-card">
          <h3>Add Test</h3>
          <p>Create and manage tests for your students.</p>
        </div>
        <div class="functionality-card">
          <h3>Add Quiz</h3>
          <p>Design quizzes to assess student knowledge.</p>
        </div>
        <div class="functionality-card">
          <h3>View Students</h3>
          <p>See the number of students registered.</p>
        </div>
        <div class="functionality-card">
          <h3>View Teachers</h3>
          <p>Monitor the number of teachers available.</p>
        </div>
      </div>
    </main>
  </div>
  
