<!-- <mat-card> -->
  <h1>Add New Question</h1>

  <!-- <mat-card-content> -->
  <div class="bootstrap-wrapper">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form [formGroup]="questionForm" (ngSubmit)="formSubmit()">
          <p>Question Content</p>
          <!-- CKEditor integration -->
          <ckeditor formControlName="content" (ready)="onEditorReady($event)"></ckeditor>
  
          <p>Options</p>
          <input
            required
            type="text"
            formControlName="options[0]"
            placeholder="Option 1"
          />
          <input
            required
            type="text"
            formControlName="options[1]"
            placeholder="Option 2"
          />
          <input
            type="text"
            formControlName="options[2]"
            placeholder="Option 3"
          />
          <input
            type="text"
            formControlName="options[3]"
            placeholder="Option 4"
          />
  
          <p>Answer</p>
          <input
            required
            type="text"
            formControlName="answer"
            placeholder="Correct Answer"
          />
  
          <div class="container text-center mt15">
            <button mat-raised-button color="accent">Add Question</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- </mat-card-content> -->
  