<!-- Remove commented-out Angular Material form fields and use regular HTML elements -->
<h1>Update Quiz</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form *ngIf="quiz" (ngSubmit)="updateData()">
        <!-- Title Field -->
        <p>Enter Title</p>
        <input
          type="text"
          name="title"
          placeholder="Enter here"
          [(ngModel)]="quiz.title"
          required
        />
  
        <!-- Description Field -->
        <p>Enter Description</p>
        <textarea
          name="description"
          placeholder="Enter here"
          rows="5"
          [(ngModel)]="quiz.description"
        ></textarea>
  
        <div class="row">
          <div class="col-md-6">
            <!-- Maximum Marks -->
            <p>Maximum Marks</p>
            <input
              type="text"
              name="maxMarks"
              placeholder="Enter here"
              
            />
          </div>
          <div class="col-md-6">
            <!-- Number of Questions -->
            <p>Number of Questions</p>
            <input
              type="text"
              name="numberOfQuestions"
              placeholder="Enter here"
              
            />
          </div>
        </div>
  
        <!-- Active Field -->
        <p>Publish Status</p>
        <mat-slide-toggle
          name="active"
          [(ngModel)]="quiz.active"
        >
          Active
        </mat-slide-toggle>
  
        <!-- Category Select -->
        <p>Categories</p>
        <!-- <mat-form-field appearance="fill" class="mt20 w100">
          <mat-label>Categories</mat-label>
          <mat-select name="category" [(ngModel)]="quiz.category.id">
            <mat-option *ngFor="let c of categories" [value]="c.id">
              {{ c.title }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
  
        <!-- Submit Button -->
        <div class="container text-center">
          <button mat-raised-button color="accent" type="submit">
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
