<mat-card>
  <mat-nav-list>
    <div mat-subheader>Menu</div>
    <button mat-list-item routerLink="/admin">Home</button>
    <button mat-list-item routerLink="/admin/profile">Profile</button>
    <button mat-list-item routerLink="/admin/categories">Categories</button>
    <button mat-list-item routerLink="/admin/add-category">Add Categories</button>
    <button mat-list-item routerLink="/admin/quizzes">Quizzes</button>
    <button mat-list-item routerLink="/admin/add-quiz">Add Quiz</button>
    <button mat-list-item routerLink="/admin/logout">Logout</button>
  </mat-nav-list>
</mat-card>

<mat-card class="editor-card">
  <mat-card-title>Editor</mat-card-title>
  <ckeditor
    *ngIf="Editor"  
    
    (ready)="onEditorReady($event)"
    [(ngModel)]="content"
    [config]="{ placeholder: 'Type your content here...' }"
  ></ckeditor>
</mat-card>
